extends allVariations

append scripts
    script(src="/scripts/pages/allVariationsPage.js" type="module" defer)

append tableCellName
    form.update-variation-stock--form.disabled
        input(name="readyStock" type="tel" min=0 placeholder='Готовые' required)
        if product.volume === '3 мл' || product.volume === '6 мл'
            input(name="dryStock" type="tel" min=0  placeholder='Сухие')
        input.btn.update-variation-stock--submit-button(type='submit' value="OK")
        input(type="text" value=product.variationId hidden name="variationId" required)

append tableCells
    td.col--actions
        div.update-variation-stock--btn
            div.btn.btn--round.variation-stock-status(data-variation-stock-status=product.stockUpdateStatus)
            include three-dots-icon.pug

append table-stock-headers
    th.col--actions

block beforeTables
    section.align--right
        span.btn.redistribute-variations-stock--btn.disabled Перераспределить
    section
        div(class="table-filters")
            a(class="btn table-filter--btn table-filter-name--stock-update-status table-filter-value--not-updated") Не обновлены