extends layout
append scripts
    script(src="/scripts/pages/shipmentsPage.js" type="module" defer)
    if authToken
        script.
          localStorage.setItem("authToken", "#{authToken}");
          localStorage.setItem("username", "#{username}");
          localStorage.setItem("authTokenExpires", Date.now() + 24 * 60 * 60 * 1000);

block section
    h1= title
    h2 Наличие
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/db/products") Все товары
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/woo") Сайт
        a.btn.nav-links--btn(href="/stocks/ozon") Ozon
        a.btn.nav-links--btn(href="/stocks/yandex") Яндекс
        a.btn.nav-links--btn(href="/stocks/wb") Wilderries
    h2 Заказы
    nav.nav-links--block
        a.btn.nav-links--btn(href="/orders/all") Все заказы
    h2 Поставки
    nav.nav-links--block
        a.btn.nav-links--btn#get-ozon-shipment-button Создать поставку Ozon
        a.btn.nav-links--btn#get-wb-shipment-button Создать поставку Wb
    h2 Добавить товар
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/db/product/new") Новый товар
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/yandex/new") Добавить Yandex
        a.btn.nav-links--btn(href="/stocks/wb/new") Добавить WB
        a.btn.nav-links--btn(href="/stocks/ozon/new") Добавить Ozon
        a.btn.nav-links--btn(href="/stocks/woo/new") Добавить Woo
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/db/wooVariable/new") Добавить вариативный Woo
