extends layout
append scripts
    if authToken
        script.
          localStorage.setItem("authToken", "#{authToken}");
          localStorage.setItem("username", "#{username}");
          localStorage.setItem("authTokenExpires", Date.now() + 24 * 60 * 60 * 1000);


block content
    h1= title
    h2 Наличие
    ul.stock-tables--list
        li
            a(href="/stocks/woo") Сайт
        li
            a(href="/stocks/ozon") Ozon
        li
            a(href="/stocks/yandex") Яндекс Маркет
        li
            a(href="/stocks/wb") Wilderries
    h2 Заказы
    p
        a(href="/orders/all") Все заказы
    h2 Поставки
    p
        a(href="/shipments/ozon") Создать поставку Ozon
    h2 База Данных
    p
        a.addTokenToHref(href="/stocks/yandex/new") Добавить товар Yandex
    p
        a.addTokenToHref(href="/stocks/wb/new") Добавить товар Wildberries
