extends layout

block content
    h1= title
    h2 Наличие
    ul.stock-tables--list
        li
            a(href="/stocks/woo") Сайт
        li
            a(href="/stocks/ozon") Ozon
        li
            a(href="/stocks/yandex") Яндекс Маркет
    h2 Заказы
    p
        a(href="/orders/all") Все заказы