doctype html
html(lang='ru')
    head
        title Bonzar – #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/styles/styles.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap" rel="stylesheet")
        block scripts
            //script(src="main.js" defer)
    body
        block navigate
            ul
                li
                    a(href="/") Home
                li
                    a(href="/projects") Projects
        block content