doctype html
html(lang='ru')
    head
        title QG – #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/styles/styles.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet")
        block scripts
            script(src="/scripts/login.js" defer)
    body
        block header
            header
                div(class="header--body")
                    nav
                        ul
                            li
                                a(href="/stocks/") Наличие
                            li
                                a(href="/orders/all/") Заказы
                            li
                                a(href="/shipments/") Поставки
                    block login
                        a(id="loginBtn" href="/auth/login") Войти
        main
            block navigate
            block content