extends stocks-table

append scripts
    script(src="/scripts/ozon-table.js" type="module" defer)
    script(src="/scripts/table-filters.js" defer)

block filters
    div(class="table-filters")
        a(class="btn table-filter--btn table-filter-name--stock_status table-filter-value--outofstockall") Нет на FBO и FBS
        a(class="btn table-filter--btn table-filter-name--stock_status table-filter-value--outofstock") Нет на FBS
        a(class="btn table-filter--btn table-filter-name--stock_status table-filter-value--instockFBS") Есть на FBS
    div(class="table-filters")
        a(class="btn table-filter--btn table-filter-name--isActual table-filter-value--notActual") Не актуальные
        a(class="btn table-filter--btn table-filter-name--isActual table-filter-value--all") Все по актуальности

block after-table
    p
        a.btn.addTokenToHref(href="/stocks/ozon/new") Новый товар Ozon