extends layout

append scripts
    script(src="/scripts/shipmentsPage.js" type="module" defer)


block content
    h1= title
    nav.nav-links--block
        a.btn.nav-links--btn(href="/shipments/ozon") Создать поставку Ozon
        a.btn.nav-links--btn#get-wb-shipment-button Создать поставку Wb
