extends layout

block content
    h1= title
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/woo") Сайт
        a.btn.nav-links--btn(href="/stocks/ozon") Ozon
        a.btn.nav-links--btn(href="/stocks/yandex") Яндекс Маркет
        a.btn.nav-links--btn(href="/stocks/wb") Wilderries
    h2 База Данных
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/db/products") Все товары
        a.btn.nav-links--btn(href="/stocks/db/product/new") Новый товар


    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/yandex/new") Новый товар Yandex
        a.btn.nav-links--btn(href="/stocks/wb/new") Новый товар WB
        a.btn.nav-links--btn(href="/stocks/ozon/new") Новый товар Ozon