extends layout

block section
    h1= title
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/db/products") Все товары
        a.btn.nav-links--btn(href="/stocks/db/variations") Все вариации
        a.btn.nav-links--btn(href="/stocks/all") Все остатки
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/woo") Сайт
        a.btn.nav-links--btn(href="/stocks/ozon") Ozon
        a.btn.nav-links--btn(href="/stocks/yandex") Яндекс Маркет
        a.btn.nav-links--btn(href="/stocks/wb") Wilderries
    h2 Добавить товар
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/db/product/new") Новый товар
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/yandex/new") Добавить Yandex
        a.btn.nav-links--btn(href="/stocks/wb/new") Добавить WB
        a.btn.nav-links--btn(href="/stocks/ozon/new") Добавить Ozon
        a.btn.nav-links--btn(href="/stocks/woo/new") Добавить Woo
    nav.nav-links--block
        a.btn.nav-links--btn(href="/stocks/db/wooVariable/new") Добавить вариативный Woo