extends layout

block content
    h1= title
    ul.stock-tables--list
        li
            a(href="/stocks/woo") Сайт
        li
            a(href="/stocks/ozon") Ozon
        li
            a(href="/stocks/yandex") Яндекс Маркет
        li
            a(href="/stocks/wb") Wilderries
