extends stocks-table

append scripts
    script(src="/scripts/functions/registerMarketplaceStockUpdateListener.js" type="module" defer)
    script(src="/scripts/pages/wooStocksPage.js" type="module" defer)

block filters
    div(class="table-filters")
        a(class="btn table-filter--btn table-filter-name--isActual table-filter-value--all") Все по актуальности
        a(class="btn table-filter--btn table-filter-name--isActual table-filter-value--notActual") Не актуальные
        a(class="btn table-filter--btn table-filter-name--stock_status table-filter-value--outofstockFBS") Нет в наличии

block after-table
    p
        a.btn.addTokenToHref(href="/stocks/woo/new") Новый товар Woo
    p
        a.btn.addTokenToHref(href="/stocks/db/wooVariable/new") Новый вариативный товар Woo