html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-style: normal;
  font-family: "Open Sans", Arial, serif;
  font-weight: 400;
  background-color: rgba(225, 167, 255, 0.2);
}

body {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2vw 20px;
}

h1 {
  margin: 1rem 0;
  padding: 1rem 0;
  color: #081150;
  font-size: 2.6rem;
  text-align: center;
}

h2 {
  margin: 0.6rem 0;
  padding: 0.6rem 0;
  color: #081150;
  font-size: 2.2rem;
}

p,
li,
a,
ul,
input,
label {
  font-size: 1.6rem;
}

p,
li,
a,
ul,
label {
  margin-block: 0.4rem;
}

p,
li {
  line-height: 2;
  letter-spacing: 1px;
}

img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

label {
  display: block;
}

input:not([type="radio"], [type="checkbox"], [type="button"], [type="submit"]) {
  border-radius: 8px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.28);
}

hr {
  border: 0.5px solid #b8b8b8;
}

.btn {
  padding: 5px 10px;
  margin: 3px 0;
  background-color: #483a3a5e;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  color: white;
  box-shadow: 2px 4px 11px -3px rgba(0, 0, 0, 0.28);
  border: solid 1px #7b7b7b3d;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

/* Navigation */
header {
  background: #cccccc;
  margin: 0 0 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  font-weight: 600;
}

.header--body {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 36px;
  align-items: center;
}

nav li:not(:first-of-type) {
  margin-left: 1.6rem;
}

header a {
  text-decoration: none;
  color: #fff;
}

/* Index page */
.stock-tables--list {
  padding: 0;
  list-style: none;
}

/* Stocks and Orders Table */
.stocks-table, .orders-table {
  border-collapse: collapse;
  background-color: rgba(225, 167, 255, 0.2);
  border-radius: 25px;
  table-layout: fixed;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
  margin: 0 0 1.75rem;
  text-align: center;
}
/* Label for table */
.table-header {
  padding-left: 25px;
}

/* table shadow */
.stocks-table::before,
.orders-table::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px -3px rgb(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  z-index: -1;
}

/* table border radius */
.stocks-table tr:first-of-type th:first-of-type,
.orders-table tr:first-of-type th:first-of-type {
  border-top-left-radius: 25px;
}
.stocks-table tr:first-of-type th:last-of-type,
.orders-table tr:first-of-type th:last-of-type {
  border-top-right-radius: 25px;
}
.stocks-table tr:last-of-type td:first-of-type,
.orders-table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 25px;
}
.stocks-table tr:last-of-type td:last-of-type,
.orders-table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 25px;
}
/* Table headers */
.stocks-table thead,
.orders-table thead {
  position: sticky;
  top: 0;
  line-height: 22px;
  z-index: 11;
}

/* table cells */
.stocks-table th,
.orders-table th {
  background: #ccc;
  text-align: center;
}

.stocks-table th,
.orders-table th,
.stocks-table td,
.orders-table td {
  padding: 7px;
}

.stocks-table tr:nth-child(even),
.orders-table tr:nth-child(even) {
  background: #efefef;
}

.stocks-table tr:hover,
.orders-table tr:hover {
  background: #d1d1d155;
}


/* Order table cols */
.orders-table .col--number {
  width: 13rem;
}

.order-status--mobile {
  display: none;
}

.orders-table .col--status {
  width: 9rem;
}

.orders-table .col--product-quantity {
  width: 7rem;
}

.orders-table .col--product-article {
  width: 16rem;
  overflow: hidden;
  text-align: right;
}

.orders--block {
  position: relative;
}

.product-article {
  font-size: 0.8em;
  color: #7a7a7a;
  padding-left: 6px;
}


/* Stocks table cols */
.stocks-table .col--sku,
.stocks-table .col--article {
  width: 13rem;
}

.stocks-table td.col--sku,
.stocks-table td.col--article {
  text-align: left;
  overflow: hidden;
}

.stocks-table .col--fbm,
.stocks-table .col--fbs {
  width: 5.5rem;
}

.stocks-table .col--id {
  width: 7rem;
}

.stocks-table td.col--fbs {
  text-align: right;
  position: relative;
}

.table-filters {
  margin: 1rem 0;
  text-align: right;
}

.table-filter--btn {
  box-shadow: 2px 4px 8px -4px rgba(0, 0, 0, 0.28);
  background-color: rgba(135, 95, 95, 0.22);
}

.table-filter--btn:not(:last-of-type) {
  margin-right: 10px;
}

.table-filter--btn-active {
  background-color: #c60e0e8c;
}

.stocks-table .col--fbs {
  padding-right: 20px;
}

.stocks-table td.col--fbs::after {
  content: "\2807";
  position: absolute;
  font-size: 1.5rem;
  right: 2px;
  top: calc(50% + 1px);
  transform: translateY(-50%);
}

/* Change stock form */
.change-stock--form {
  position: absolute;
  text-align: center;
  right: 0.4rem;
  transform: translateY(-50%);
  z-index: 1;
}

.change-stock--submit-button {
  position: absolute;
  font-size: 1.2rem;
  transform: translateY(-50%);
  top: 50%;
  right: 100%;
  height: 30px;
  margin: 0 5px 0 0;
}

.change-stock--input-number {
  width: 100%;
}

.change-stock--input-number[disabled] {
  background: #e8e8e8;
}

/* Site table */
#site-stocks .change-stock--form {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: flex;
  max-width: 84vw;
  transform: unset;
}

#site-stocks fieldset {
  border: none;
  background-color: rgba(237, 226, 255, 1);
  border-radius: 10px;
  box-shadow: 0 0 17px -3px rgba(0, 0, 0, 0.42);
  position: relative;
  padding: 1.4rem 1.2rem 0.4rem;
  margin: 0 5px;
  width: 190px;
}
#site-stocks fieldset legend {
  transform: translateY(75%);
}

#site-stocks .col--fbs {
  padding-right: 12px;
  width: 7rem;
}

#site-stocks td.col--fbs::after {
  position: relative;
  right: -8px;
  top: unset;
  transform: unset;
}

#site-stocks .change-stock--submit-button {
  margin: 0;
}

/* Login page */
.login--form {
  text-align: center;
  margin: 0 0 10px;
}
.login--form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login--form input[type="submit"] {
  margin-top: 1rem;
}

/* MOBILE LAYOUT */
@media screen and (max-width: 420px) {
  .stocks-table tr td:nth-child(1),
  .stocks-table tr th:nth-child(1) {
    display: none;
  }
  .stocks-table tr:first-of-type th:nth-of-type(2) {
    border-top-left-radius: 25px;
  }
  .stocks-table tr:last-of-type td:nth-of-type(2) {
    border-bottom-left-radius: 25px;
  }

  .stocks-table td.col--name {
    text-align: left;
  }

  /* Change stock form – for Site */
  #site-stocks .change-stock--form {
    transform: translateX(50%);
    top: unset;
    right: 50%;
    max-width: 95vw;
  }

  #site-stocks .change-stock--submit-button {
    transform: translateX(50%);
    top: calc(100% + 0.5rem);
    right: 50%;
  }

  #site-stocks .col--fbs {
    position: static;
  }

  .orders-table .col--status {
    display: none;
  }

  .order-status--mobile {
    display: initial;
  }
}

/* DESKTOP LAYOUT */
@media screen and (min-width: 421px) {
  /* Font */
  html {
    font-size: 12px;
  }

  /* Stocks table */
  .col--fbm,
  .col--fbs {
    width: 6.4rem;
  }

  nav ul {
    height: 40px;
  }

  .stocks-table thead {
    position: sticky;
    top: 0;
    line-height: 26px;
  }
}
