html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-style: normal;
  /*font-family: Roboto, Arial, serif;*/
  font-family: "Open Sans", Arial, serif;
  font-weight: 400;
  background-color: rgba(225, 167, 255, 0.2);
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2vw 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #081150;
  font-size: 2.6rem;
  text-align: center;
}

p,
li,
a,
input {
  font-size: 1.6rem;
}

p,
li {
  line-height: 2;
  letter-spacing: 1px;
}

img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.btn {
  padding: 5px 10px;
  margin: 8px 0;
  background-color: #483a3a5e;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  color: white;
  box-shadow: 2px 4px 11px -3px rgba(0, 0, 0, 0.28);
  border: solid 1px #7b7b7b3d;
}

/* Stocks Table */
.stocks-table {
  border-collapse: collapse;
  background-color: rgba(225, 167, 255, 0.2);
  border-radius: 25px;
  table-layout: fixed;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
  margin: 0 0 0.75rem;
}

/* table shadow */
.stocks-table::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px -3px rgb(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  z-index: -1;
}

/* table border radius */
.stocks-table tr:first-of-type th:first-of-type {
  border-top-left-radius: 25px;
}
.stocks-table tr:first-of-type th:last-of-type {
  border-top-right-radius: 25px;
}
.stocks-table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 25px;
}
.stocks-table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 25px;
}

/* table cells */
.stocks-table th {
  background: #ccc;
  text-align: center;
}

.stocks-table th,
.stocks-table td {
  padding: 7px;
}

.stocks-table tr:nth-child(even) {
  background: #efefef;
}

.stocks-table tr:hover {
  background: #d1d1d155;
}

.col--fbm,
.col--fbs {
  width: 7rem;
  text-align: right;
  position: relative;
}

.table-filter--btn {
  box-shadow: 2px 4px 8px -4px rgba(0, 0, 0, 0.28);
  background-color: rgba(135, 95, 95, 0.22);
  float: right;
}

.table-filter--btn:not(:first-of-type) {
  margin-right: 10px;
}

.table-filter--btn-active {
  background-color: #c60e0e8c;
}

.stocks-table .col--fbs {
  padding-right: 20px;
}

td.col--fbs::after {
  content: '\2807';
  position: absolute;
  font-size: 1.5rem;
  right: 2px;
  top: calc(50% + 1px);
  transform: translateY(-50%);
}

/* Change stock form */
.change-stock--form {
  position: relative;
  text-align: center;
}

.change-stock--submit-button {
  position: absolute;
  font-size: 1.2rem;
  transform: translateY(-50%);
  top: 50%;
  right: 100%;
}

.change-stock--input-number {
  width: 100%;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 8px;
}

.change-stock--form label {
  display: block;
}

.change-stock--input-number[disabled] {
  background: #e8e8e8;
}



/* Site table */
#site-stocks .change-stock--form {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: flex;
  max-width: 84vw;
}

#site-stocks fieldset {
  border: none;
  background-color: rgba(237, 226, 255, 1);
  border-radius: 10px;
  box-shadow: 0 0 17px -3px rgba(0, 0, 0, 0.42);
  position: relative;
  padding: 1.4rem 1.2rem;
  margin: 0 5px;
  width: 190px;
}
#site-stocks fieldset legend {
  transform: translateY(75%);
}

#site-stocks .col--fbs {
  padding-right: 12px;
}

#site-stocks td.col--fbs::after {
  position: relative;
  right: -8px;
  top: unset;
  transform: unset;
}


/* MOBILE LAYOUT */
@media screen and (max-width: 420px) {
  .stocks-table tr td:nth-child(1),
  .stocks-table tr th:nth-child(1) {
    display: none;
  }
  .stocks-table tr:first-of-type th:nth-of-type(2) {
    border-top-left-radius: 25px;
  }
  .stocks-table tr:last-of-type td:nth-of-type(2) {
    border-bottom-left-radius: 25px;
  }

  /* Change stock form – for Site */
  #site-stocks .change-stock--form {
    transform: translateX(50%);
    top: unset;
    right: 50%;
    max-width: 95vw;
  }

  #site-stocks .change-stock--submit-button {
    transform: translateX(50%);
    top: 100%;
    right: 50%;
  }

  #site-stocks .col--fbs {
    position: static;
  }
}

/* DESKTOP LAYOUT */
@media screen and (min-width: 421px) {
  /* Font */
  html {
    font-size: 12px;
  }

  /* Stocks table */
  .stocks-table {
    text-align: center;
  }
  .col--sku {
    width: 120px;
  }

  .col--fbm,
  .col--fbs {
    width: 6.4rem;
  }
}
