:root {
  --table-row-even: rgba(245, 222, 255, 1);
  --table-row-odd: rgba(252, 250, 254, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-style: normal;
  font-family: "Open Sans", Arial, serif;
  font-weight: 400;
  background-color: rgba(225, 167, 255, 0.2);
}

body {
  margin: 0;
  /*width: 100vw;*/
  /*min-width: max-content;*/
}

section {
  padding: 0 min(2vw, 20px) 20px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.section--wide {
  max-width: unset;
}

h1 {
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 2.6rem;
  text-align: center;
}

h2 {
  margin: 0 0 0.6rem;
  padding: 0.6rem 0;
  font-size: 2.2rem;
  text-align: center;
}

h3 {
  margin: 0.4rem 0;
  padding: 0.4rem 0;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #081150;
  font-weight: 600;
}

p,
li,
a,
ul,
input,
label,
select,
option {
  font-size: 1.6rem;
}

legend {
  font-size: 1.2rem;
}

p,
li,
a,
ul,
label,
fieldset {
  margin-block: 0.4rem;
}

p,
li {
  line-height: 2;
  letter-spacing: 1px;
}

img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

label {
  display: flex;
  min-height: 3rem;
  line-height: 1.7;
  font-weight: 600;
}


fieldset {
  border-radius: 15px;
  margin-block-end: 1rem;
  margin-inline: 0;
  border: 1px solid rgba(0, 0, 0, 0.28);
}

fieldset legend {
  padding: 0 5px;
  margin: 0 10px;
}

input:not([type="radio"], [type="checkbox"], [type="button"], [type="submit"]) {
  border-radius: 8px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  width: 100%;
  margin-left: 5px;
}

.select--style {
  appearance: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 8px;
  padding: 3px 2rem 3px 3px;
  margin: auto auto auto 5px;
}

.select--arrow {
  position: relative;
}

.select--arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 100%;
  background: rgba(149, 149, 149, 1);
  pointer-events: none;
  -webkit-mask: url("../images/icon-arrow-down.png") center / contain no-repeat;
}

hr {
  border: 0.5px solid #b8b8b8;
}

.btn {
  padding: 5px 10px;
  margin: 3px 0;
  background-color: #483a3a5e;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: white;
  box-shadow: 2px 4px 11px -3px rgba(0, 0, 0, 0.28);
  border: solid 1px #7b7b7b3d;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  cursor: pointer;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.order-last {
  order: 1;
}

.loading {
  position: relative;
}

.loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% + 1rem);
  width: calc(100% + 1rem);
  transform: translate(-50%, -50%);
  background-color: rgb(237, 193, 255, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 10;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0.359375px 0 9px 4px rgb(237, 193, 255);
}

.tea-loading--icon {
  display: none;
}
.loading .tea-loading--icon {
  --secondary: #33406f;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 2;
  -moz-transform: translate(-50%, -50%) scale(2);
  z-index: 11;
  max-height: 100%;
}
.tea-loading--icon #teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}
.tea-loading--icon #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}
.tea-loading--icon #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}
@-moz-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-webkit-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-o-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-moz-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-o-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-moz-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-o-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

/* Navigation */
header {
  background: #b980d2;
  box-shadow: 1px 8px 19px -14px white;
  margin: 0 0 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  font-weight: 700;
  /*width: 100%;*/
}

.header--body {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  /*max-width: 100vw;*/
  /*position: sticky;*/
  /*left: 0;*/
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 36px;
  align-items: center;
}

nav li:not(:first-of-type) {
  margin-left: 1.6rem;
}

header a {
  text-decoration: none;
  color: #fff;
}

/* Navigation links block on page */
.nav-links--block {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.nav-links--btn {
  /* To usage with .btn class on links */
  flex: auto;
  margin: 6px;
  padding: 10px;
  text-align: center;
}

/* Stocks and Orders Table */
.stocks-tables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}


.stocks-table--wrapper {
  filter: drop-shadow(0 0 10px rgb(212, 206, 215));
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 1.75rem;
}

.stocks-table--inner {
  max-width: calc(100vw - min(2vw, 20px));
  max-height: 70vh;
  overflow: scroll;
}
.stocks-table--inner::-webkit-scrollbar {
  display: none;
}

.stocks-table,
.orders-table {
  border-collapse: collapse;
  background-color: rgba(225, 167, 255, 0.2);
  table-layout: fixed;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
  text-align: center;
}

/* table shadow */
.stocks-table::before,
.orders-table::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Table headers */
.stocks-table thead,
.orders-table thead {
  position: sticky;
  top: 0;
  line-height: 22px;
  z-index: 101;
}

/* table cells */
.stocks-table th,
.orders-table th {
  background: #b980d2;
  text-align: center;
  color: white;
}

.stocks-table th,
.orders-table th,
.stocks-table td,
.orders-table td {
  padding: 7px;
}

.stocks-table tr:nth-child(odd),
.orders-table tr:nth-child(odd) {
  background:  var(--table-row-odd, rgba(252, 250, 254, 1));
}

.stocks-table tr:nth-child(even),
.orders-table tr:nth-child(even) {
  background: var(--table-row-even, rgba(245, 222, 255, 1));
}


.stocks-table tr:hover,
.orders-table tr:hover {
  background: #d8b0ea;
}

/* Order table cols */
.orders-table .col--number {
  width: 13rem;
}

.order-status--mobile {
  display: none;
}

.orders-table .col--status {
  width: 10rem;
  word-break: break-word;
}

.orders-table .col--product-quantity {
  width: 7rem;
}

.orders-table .col--product-article {
  width: 16rem;
  overflow: hidden;
  text-align: right;
}

.orders--block {
  position: relative;
}

.product-description {
  font-size: 0.8em;
  color: #7a7a7a;
  padding-left: 6px;
  word-break: break-word;
}

/* Stocks table cols */
.stocks-table .col--name {
  width: min(50vw, 25rem);
  position: sticky;
  left: 0;
  z-index: 5;
}

tr:nth-child(even) td.col--name {
  background: var(--table-row-even);
}
tr:nth-child(odd) td.col--name {
  background: var(--table-row-odd);
}

.stocks-table .col--identifier {
  width: 13rem;
  word-break: break-all;
}

.stocks-table td.col--identifier {
  text-align: left;
  overflow: hidden;
}

.stocks-table .col--fbm,
.stocks-table .col--fbs {
  width: 5.5rem;
  position: relative;
  z-index: 3;
}

.stocks-table .col--fbs.col--fbs--changing {
  z-index: 4;
}

.stocks-table .col--fbs.out-of-stock::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(250, 30, 30, 0.38);
  padding: 0.5rem;
  background-clip: content-box;
  border-radius: 20px;
  z-index: -1;
}
.stocks-table .col--fbs.out-of-stock {
  color: white;
}


.col--fbm.out-of-stock + .col--fbs.out-of-stock::before {
  width: 200%;
}


.col--fbm:not(.out-of-stock) + .col--fbs.out-of-stock::before {
  content: unset;
}
.col--fbm:not(.out-of-stock) + .col--fbs.out-of-stock {
  color: inherit;
}

#yandex.stocks-table .col--fbs {
  width: 13rem;
}

.stocks-table .col--id {
  width: 7rem;
}

.table-filters {
  margin: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 0.5rem;
}

.table-filter--btn {
  box-shadow: 2px 4px 8px -4px rgba(0, 0, 0, 0.28);
  font-weight: 700;
  color: rgb(154, 154, 154);
  background: rgba(255, 255, 255, 0.23);
  border-width: 3px;
  border-color: rgba(154, 154, 154, 0.45);
  margin: 0;
}

.table-filter--btn-active {
  background-color: #b980d2;
  color: white;
  border-color: white;
}

.stocks-table .col--fbs {
  /* padding-right: 20px; */
}

.stocks-table td.col--fbs:not([updateBy=""])::after {
  content: "\2807";
  position: absolute;
  font-size: 1.5rem;
  right: 8px;
  top: calc(50% + 0px);
  transform: translateY(-50%);
}

/* Change stock form */
.change-stock--form {
  position: absolute;
  text-align: center;
  right: 0.4rem;
  transform: translateY(-50%);
  z-index: 1;
}

.change-stock--submit-button {
  position: absolute;
  font-size: 1.2rem;
  transform: unset;
  top: calc(100% + 3px);

  right: 0;
  height: 30px;
  margin: 3px 0;
}

.change-stock--input-number {
  width: 100%;
}

.change-stock--input-number[disabled] {
  background: #e8e8e8;
}

/* Woo table */
#woo-stocks .col--fbs {
  width: 5.5rem;
}

/* Login page */
.login--form {
  text-align: center;
  margin: 0 0 10px;
}
.login--form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login--form input[type="submit"] {
  margin-top: 1rem;
}


/* DB pages */
.variation-market-products--block {
  display: grid;
  grid-gap: 1.6rem;
}

.variation-market-products--block .market-product--form {
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0.359375px 0 9px 4px rgb(237, 193, 255);
}

.variation-market-products--block .market-product--form,
.product-variation--cell {
  position: relative;
}

.market-product--form.disabled {
  box-shadow: inset 0.359375px 0 9px 4px rgb(237, 193, 255);
}

.market-product--form.disabled::before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(161, 133, 172, 0.32);
  border-radius: 25px;
  pointer-events: none;
}

.navigate-btn,
.delete-button,
.add-variation--btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.add-variation--form {
  position: absolute;
  top: 1rem;
  right: 4.5rem;
  height: 3rem;
  width: 3rem;
}

.add-variation--btn {
  background-image: url("../images/icon-plus.png");
  top: 0;
  right: 0;
}

.add-variation-volume--block {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin: 0 0.5rem;
}

.add-variation-volume--block .select--style {
  width: auto;
}

.add-variation-volume--block[disabled] {
  display: none;
}

.navigate-btn {
  background-image: url("../images/icon-arrow-right.svg");
}

.navigate-btn--back {
  transform: rotate(180deg);
  box-shadow: -2px -4px 11px -3px rgba(0, 0, 0, 0.28);
  left: 1rem;
  right: unset;
}

.product-variation--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.product-variation--cell,
.product-variation--cell .variation-market-products--block {
  margin-top: 2rem;
}

.product-variation--container {

}

.delete-button {
  background: url("../images/icon-trash.png") center / 50% no-repeat,
  rgba(255, 0, 0, 0.34);
}

.navigate-btn:not(.navigate-btn--back) + .delete-button,
.delete-button + .add-variation--btn {
  transform: translateX(calc(-100% - 0.5rem));
}

/* MOBILE LAYOUT */
@media screen and (max-width: 420px) {
  .stocks-table td.col--name:not(:first-of-type:last-of-type) {
    text-align: left;
  }

  /* Change stock form – for Site */
  #site-stocks .change-stock--form {
    transform: translateX(50%);
    top: unset;
    right: 50%;
    max-width: 95vw;
  }

  #site-stocks .change-stock--submit-button {
    transform: translateX(50%);
    top: calc(100% + 0.5rem);
    right: 50%;
  }

  #site-stocks .col--fbs {
    position: static;
  }

  .orders-table .col--status {
    display: none;
  }

  .order-status--mobile {
    display: initial;
  }

  /* if in table only one headers row */
  .stocks-table thead:last-child th:last-of-type,
  .orders-table thead:last-child th:last-of-type {
    border-bottom-right-radius: 25px;
  }
  .stocks-table thead:last-child th:nth-of-type(2),
  .orders-table thead:last-child th:nth-of-type(2) {
    border-bottom-left-radius: 25px;
  }

  .stocks-table .col--fbs {
    width: 5.5rem;
  }
}

.variation-market-products--block {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* DESKTOP LAYOUT */
@media screen and (min-width: 421px) {
  /* Font */
  html {
    font-size: 12px;
  }

  /* Stocks table */
  .col--fbm,
  .col--fbs {
    width: 6.4rem;
  }


  nav ul {
    height: 40px;
  }

  .stocks-table thead {
    position: sticky;
    top: 0;
    line-height: 26px;
  }

  .change-stock--submit-button {
    top: calc(100% + 4.5px);
  }
}
@media screen and (min-width: 576px) {
  .stocks-tables {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }
}
@media screen and (min-width: 768px) {
  .stocks-tables {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
